* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #ddd;
}
.fill {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  width: fit-content;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #333;
  position: relative;
}
.fill::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: indianred;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  width: 0;
  overflow: hidden;
}
.fill:hover::before {
  width: 100%;
}
